.card-project {
    display: flex ;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color:  rgb(255, 255, 255);
    width: 290px ;
    height: 290px ;
    box-shadow: 10px 10px 0px #000000;
    
}

