.main-section {

    background-color: rgb(224, 96, 203);
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #fff; 
    
}

.main-section .main-title {
    margin-bottom: 60px;
}


.main-section.-bdBlack {
    border-color: #fff;
}

.main-section.-bgSecond {
    background-color: #000;
}
.main-section.-bgBlack {
background-color: black;
}

.main-section.-bdFirst {
    border-color:  #fff;
}


