.main-header {
    display: flex;
    justify-content: space-between;
    align-items:center ;
    background-color: #510cdb;
    border-bottom:  10px solid rgb(255, 255, 255) ;
    padding: 10px 20px;
  }

 /* 0 - 980 */ 

@media screen and  (max-width:980px){
  
  .main-header > .menu {
    display: none;
   }
}
  
/* 980 - até aonde dá pra cima  */

@media (min-width:980px) {

   .main-header > .icon-menu {
    display: none;
   }
}