
.skill-tec{
    display: flex;
    align-items: center;
    font-family: 'press start 2P, sans serif';
    font-size: 25px;
    color: #fff;
}






.skill-tec .icon {
    margin-right: 25px;
}

.skill-tec .right{
    display: flex;
    flex-direction: column;
}

.skill-tec .title {
    margin-bottom: 10px;
}